body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;

}

/* footer */

.f_info_links a{
    text-decoration: none;
    color: #222222 !important;
}

.f_info_links a:hover{
    text-decoration: underline;
}   

.f_info_links ,.f-info-socials ,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 15px;
    width: 100% !important;
    object-fit: cover !important;
} 

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;
}

.card-img-overlay{
    opacity: 0;

}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.show-img{
    height: 30vh;

}

.btns{
    display: flex;
}


/* Container for the star rating */
.star-rating {
  display: flex;
  flex-direction: row-reverse; /* This is the magic to make the hover work */
  justify-content: flex-end;   /* Aligns stars to the left */
  font-size: 2rem;             /* Adjust star size */
  color: #d3d3d3;              /* Default star color (light gray) */
}

/* Hide the actual radio buttons */
.star-rating input[type="radio"] {
  display: none;
}

/* Style for the star labels */
.star-rating label.star {
  cursor: pointer;
  transition: color 0.2s;
}

/* The magic part: */
/* Colors the star on hover... */
.star-rating label.star:hover,
/* ...and all previous stars (because of flex-direction: row-reverse) */
.star-rating label.star:hover ~ label.star,
/* ...and colors the checked star and all previous stars */
.star-rating input[type="radio"]:checked ~ label.star {
  color: #ffc107; /* Gold color for selected/hovered stars */
}



#map {
  height: 400px;
  width: 80vh;
}